html{
    height: 150vh;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    height: max-content;
}
header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: blueviolet;
    padding: 3%;
}
header > .marcadores {
    display: flex;
    
    justify-content: space-around;
    align-items: stretch;
    width: 80%;
    background-color: blue;
    margin: 1%;
    padding: 1%;
}
header > .marcadores > div > .marc-valor {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: antiquewhite;
    text-align: center;
}
.marcadores{
    display: inline-flex;
    justify-content: space-around;
}

main > *  {
    margin:0,10px;
    padding: 20px;
    width: 100%;
    background-color:cadetblue;
    display:inline-flex;
    flex-direction: row;
    justify-content:space-evenly;
    /* justify-self: auto; */
    /* margin: 0 ; */
}
main > contenedor-img > *{
    display: flex;
    justify-content: space-evenly   ;
}
.contador{
    text-align: center;
    background-color: burlywood;
}
section{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:burlywood;
}
section>span {
    background-color: beige;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}
section > .rued-marc {
    display: inline-flex;
}
img {
    width: 75%;
    height: 75%;
    background-color: aquamarine;
}
main > .cuerpo {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 600px;
    background-color: chocolate;
}
main{
    display: flex;
    justify-content: space-between;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-glb {
    height: 300px;
}
.btn-glb > * {
    height: 25px;
    width: 100px;
    border-radius: 10px;
}

.imgn {
    /* display:block; */
    padding: 4%;
    background-color: blue;
    width: 80%;
    height: 80%;
}


.combos{
    display:flex;
    width: 300px;
    height: auto;
    padding: 1%;
    background-color: rgb(112, 112, 35);
    justify-content: space-evenly;    
}
.combos-gan, .combos-prem {

    background-color: rgb(166, 241, 216);
    /* opacity: 75%; */
    height: auto;
    width: 100%;
    margin: 2%;
    text-align: center;
}
/* .combos-prem{
    display: flex;
    flex-direction: row;
    align-items: stretch;

} */

 .comb-figuras> img{
    width: 40px;
    height: 40px;
    border-radius: 5%;
    background-color: cadetblue;
    padding: 3px;
}
/* clase prescindible cuando se cambie a una imagen */
.comb-figuras{
    display:inline-flex;
    width: 260px;
    justify-content: center;
    align-items: center;
}

/* Zona para el boton de Iniciar tirada y el campo de número de tiradas */
.botones{
    background-color: bisque;
    width: 86%;
    height: max-content;
    display: flex;
    justify-content: space-evenly;
}

.botones > button, .boton{
width: 100px;
height: 40px;
}

.imgyboton{
    display:flex;
    flex-direction: column;
}
.cajas{
    width: 50px;
    height: 50px;
    padding: 3px;
    background-color: hsla(60, 72%, 83%, 0.51);
}

label{
    background-color:rgb(200, 172, 172) ;
    margin-right: 2%;
    margin-left: 2%;
    width: 50%;
    
}
.contador-clicks {
    font-size: 40px;
    font-weight: bold;
    font-family: impact;
    margin: 10px;
    color:aliceblue
}